<li>
<%= task.title %> -- <%= task.description %> --
<%= form_for task do |form| %>
  <%= form.hidden_field :completion, value: 1 %>
  <%= form.submit %>
<% end %>
<%= form_for task, method: :delete do |form| %>
  <%= form.hidden_field :completion, value: 0 %>
  <%= form.submit "Delete task" %>
<% end %>
</li>
